.name{
    color: rgba(95, 95, 95, 0.486);
    font-size: 18px;
    margin-bottom: -12px;
    margin-top: -5px;
}

.head{
    font-weight: bold;
    font-size: 20px;
}

.body{
    margin: -1px;
   font-size: 17.2px; 
   color: rgb(61, 61, 61);
}