<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 form-box">
        <form [formGroup]="signupForm">

          <h1>Conditional Forms</h1>

          <!-- Email login -->
          <div class="row">
            <div class="form-group">
              <label for="email">Email:</label>
              <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <span
              *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
              class="form-text text-muted"><i class='fas fa-exclamation-circle' style='color:red'></i>Invalid Email!</span>
            </div>
          </div>
          
          <!-- Password-login -->
          <div class="row">
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control">
              <span
                *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
                class="form-text text-muted"><i class='fas fa-exclamation-circle' style='color:red'></i>Please enter a password!</span>
            </div>
          </div>
            
            <div class="row-btns justify-items-center">
                <button
                  class="btn col-3 pure-button pure-button-primary" 
                  type="submit"
                  [disabled]="!signupForm.valid">Submit</button>
                  

                    <button
                    id="reset-btn"
                    class="btn col-3 pure-button pure-button-danger"
                    type="button"
                    (click)="onReset()">Reset</button>
                </div>

        </form>
      </div>
    </div>
</div>