

<span id="all-format">
<div class="container flex">
  <td>
  <div id="menu-col">
    <div class="content-row">
      <div>
          <i class="fa fa-cloud"></i>
        <p id="username">Andres Negrete</p>
     </div>
      <p id="address">andresnegrete1650@gmail.com</p>
    </div>
    <span id="button-font">
    <div class="content-row">
      
        <button  id="main-button">New Message</button>
      </div>

    <div class="content-row">
      <button class="side-menu">Inbox</button>
    </div>

    <div class="content-row">
      <button class="side-menu">Drafts</button>
    </div>

    <div class="content-row">
        <button class="side-menu">Sent</button>
      </div>

      <div class="content-row">
          <button class="side-menu">Spam</button>
      </div>

      <div class="content-row">
          <button class="side-menu">Trash</button>
      </div>
    
    </span>
  </div>
  </td>
  <td class="align-top">
  <div id="mail-col">
    <div class="top-bar ">
      <input id= "searchBox" type="text" placeholder="Search">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <button type="submit" id="searchButton"><i class="fa fa-search"></i></button>
    </div>

    <div class="mail-row ">
      <app-mail></app-mail>
    </div>

    <div class="mail-row ">
      <app-mail></app-mail>
    </div>

    <div class="mail-row ">
      <app-mail></app-mail>
    </div>

    <div class="mail-row ">
      <app-mail></app-mail>
    </div>

    <div class="mail-row ">
        <app-mail></app-mail>
    </div>

  </div>
  </td>

</div>

</span>
