

<span id="all-format">
<div class="container flex">
  <td>
  <div id="menu-col">
    <div class="top-menu-row">
      <div id="top-spacing">
          <img src="C:\Users\andre\my-first-project\Andres.jpg" alt="Andres">
        <p id="username">Andres Negrete</p>
     </div>
      <p id="address">andresnegrete1650@gmail.com</p>
    </div>
    <span id="button-font">
    <div class="content-row">
      <button  id="main-button">
          <span class="icon-space">
           <i class="	far fa-envelope"></i>
          </span>
        New Message</button>
      </div>


    <div class="content-row">
    <button _ngcontent-voc-c19="" mat-raised-button="" mat-raised-button color="primary"
    matBadge="18" matBadgePosition="before" matBadgeColor="accent" class="side-menu">
      <span class="mat-button-wrapper">
       <span class="icon-space">
        <i class="fas fa-caret-down" style='font-size:20px'></i>
      </span>
      Inbox
    </span></button>
    </div>

    <div class="content-row">
        <button _ngcontent-voc-c19="" mat-raised-button="" class="side-menu">
          <span class="mat-button-wrapper">
          <span class="icon-space">
          <i class="fas fa-sticky-note"></i>
        </span>
          Drafts
        </span></button>
        </div>

      <div class="content-row">
        <button _ngcontent-voc-c19="" mat-raised-button="" class="side-menu">
            <span class="mat-button-wrapper">
              <span class="icon-space">
                <i class="fas fa-caret-right" style='font-size:20px'></i>
              </span>
             Sent
        </span></button>
      </div>

      <div class="content-row">
          <button _ngcontent-voc-c19="" mat-raised-button="" class="side-menu">
            <span class="mat-button-wrapper">
            <span class="icon-space">
              <i class="fas fa-flag"></i>
            </span>
            Spam
      </span></button>
     </div>


     <div class="content-row">
        <button _ngcontent-voc-c19="" mat-raised-button="" mat-raised-button color="primary"
        matBadge="99+" matBadgePosition="before" matBadgeColor="accent" class="side-menu">
          <span class="mat-button-wrapper">
            <i class="fas fa-times" style='font-size:18px'></i>
          <span class="icon-space">
          </span>
          Trash
        </span></button>

        
    </div>
    

    
    </span>
  </div>
  </td>
  <div class="top-row">
      <div class="inputWithIcon">
      <input id= "searchBox" type="text" placeholder="Search">
      <i class="fa fa-search icon" aria-hidden="true"></i>
      </div>
      <div id="top-menu-btn">
        <span class="top-btn-spacing"><i class="fas fa-angle-left" style='font-size:20px'></i></span>
        <span class="top-btn-spacing"><i class="fas fa-angle-double-left" style='font-size:20px'></i></span>
        <span class="top-btn-spacing"><i class="fas fa-angle-right" style='font-size:20px'></i></span>
        <i class="fas fa-times" style='font-size:20px'></i>

        <button mat-raised-button="" id="login-btn" class="form-btns">
      <span class="mat-button-wrapper">
      Login
    </span></button>
       
    <div>
      <app-login id="login"></app-login>
    </div>
    </div>
      
  </div>
  <td class="align-top">
  <div id="mail-col">

    <div class="mail-row ">
      <app-mail></app-mail>
    </div>

    <div class="mail-row ">
      <app-mail></app-mail>
    </div>

    <div class="mail-row ">
      <app-mail></app-mail>
    </div>

    <div class="mail-row ">
      <app-mail></app-mail>
    </div>

    <div class="mail-row ">
        <app-mail></app-mail>
    </div>

    <div class="mail-row ">
        <app-mail></app-mail>
    </div>

  </div>
  </td>

  
</div>

</span>
