#container,
.content-row{
    height: 1vh;
    padding-bottom: 8vh;
    margin-top: 5px;
    
}

#top-menu-row{
    height: 1vh;
    padding-top: 25px;
}

#menu-col{
    background-color: rgba(0, 93, 233, 0.993);
    color: rgb(87, 87, 87);
    width: 45vh;
    text-align: center;
    height: 100vh; 
    margin: -15px;
    padding: 5px;
    position: fixed;
}

#top-spacing{
    padding-top: 2.5vh
}


#button-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    
}

#mail-col{
    padding-top: 3.9vh;
    width:  115vh;
    margin-top: 25px;
    padding-left: 48vh; 
    padding-bottom: 15px;
}

#searchBox{
    position: fixed;
    width: 900px;
    height: 30px;
    padding: 9px;
    border-radius: 5px;
    border-width: 3px;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding-left: 50px; 
}


#all-format{
    font-size: 14px;
    font-family: cursive;
}


.mail-row{
    padding-top: .8vh;
    border-width: 5px;
    border-color: rgb(27, 27, 27);
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(173, 172, 172)!important;
    margin-top: 17px;
    
}

#main-button{
    font-family: cursive;
    padding:1.55vh;
    margin: 1.3vh;
    size: 25px;
    width: 17vh;
    border-width: 3px;
    border-radius: 8px;
    background-color: rgb(4, 22, 126);
    color: aliceblue;
    text-shadow:none !important;
    border:none !important; 
    box-shadow:none !important;
    font-size: 16px;
    
}

#address{
    color: rgb(255, 255, 255);
}

#username{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: cursive
}

#top-row{
    margin-left : 150px;
    position: fixed;
    height: 1vh;
    padding-bottom: 7vh;
    padding-top: 30px;
    background-color: blue;
}

.example-button-row[_ngcontent-tyy-c19] button[_ngcontent-tyy-c19], .example-button-row[_ngcontent-tyy-c19] a[_ngcontent-tyy-c19] {
    margin-right: 8px;
}
.side-menu:not([class*=mat-elevation-z]) {
    font-family: cursive;
    font-size: 16px;
    height: 38px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    width: 120px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

body {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
}
user agent stylesheet
html {
    color: -internal-root-color;
}


  input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
    
  }
  
  .inputWithIcon input[type="text"] {
    padding-left: 40px;
    
  }
  
  .inputWithIcon {
    position: fixed;
    margin-left: 400px;
  }
  
  .inputWithIcon i {
    margin-top: 30px;
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
    margin-left: 50px;
    
  }

  #top-menu-btn{
    position: fixed;
    margin-left: 151vh;
    padding-top: 4.5vh;
  }

  .top-btn-spacing{
      padding-right: 1.5vh;
  }
  
  .inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }
  
  .icon-space{
    margin-right: 8px;
  }