#container,
.content-row{
    height: 1vh;
    padding-bottom: 7vh;
    padding-top: 30px;
}

#menu-col{
    background-color: rgba(62, 200, 255, 0.993);
    color: rgb(87, 87, 87);
    width: 45vh;
    text-align: center;
    height: 100vh; 
    margin: -15px;
    padding: 5px;
    position: fixed;
    
}

.side-menu{
    padding:2.5vh;
    margin: 2vh;
    size: 25px;
    
    border-width: 3px;
    border-radius: 8px;
    background-color: rgb(230, 238, 255);
    color: rgb(0, 0, 0);
}

#button-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

#mail-col{
    width:  115vh;
    margin-top: -25px;
    padding-left: 48vh; 
    
}

#searchBox{
    width: 900px;
    height: 40px;
    padding: 9px;
    border-radius: 5px;
    border-width: 3px;
    margin-top: 25px;
}

#searchButton{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-width: 3px;
    margin-top: 20px;
    margin-left: 10px;
    background-color:rgb(119, 199, 253);
    
}

#all-format{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.mail-row{
    padding-top: .8vh;
    border-width: 5px;
    border-color: rgb(27, 27, 27);
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(173, 172, 172)!important;
    margin-top: 17px;
    
}

#main-button{
    padding:2.5vh;
    margin: 2vh;
    size: 25px;
    width: 250px;
    border-width: 3px;
    border-radius: 8px;
    background-color: rgb(28, 72, 196);
    color: aliceblue;
    text-shadow:none !important;
    border:none !important; 
    box-shadow:none !important;
}

#address{
    color: rgba(46, 46, 46, 0.774)
}

#top-bar{
    height: 1vh;
    padding-bottom: 7vh;
    padding-top: 30px;
    align-items: center;
    justify-items: center;
}