

<span id="all-format">
<div class="container flex">
  <td class="align-top">
  <div id="menu-col">
    <div class="content-row">
      <img src="C:\Users\andre\my-first-project\Andres.jpg" alt="Andres">
      <p id="username">Andres Negrete</p>
      <p id="address">andresnegrete1650@gmail.com</p>
    </div>
    <span id="button-font">
    <div class="content-row">
        <button class="side-menu">New Message</button>
      </div>

    <div class="content-row">
      <button class="side-menu">Inbox</button>
    </div>

    <div class="content-row">
      <button class="side-menu">Drafts</button>
    </div>

    <div class="content-row">
        <button class="side-menu">Sent</button>
      </div>

      <div class="content-row">
          <button class="side-menu">Spam</button>
      </div>

      <div class="content-row">
          <button class="side-menu">Trash</button>
      </div>
    
    </span>
  </div>
  </td>
  <td class="align-top">
  <div id="mail-col">
    <div class="content-row ">
      <input id= "searchBox" type="text" placeholder="Search">
    </div>

    <div class="mail-row ">
        <p class="new">Bobby Smith</p>
        <h2>Weekly New York Times</h2>
        <p>Here's a sample of what new articles we have for this week</p>
    </div>

    <div class="mail-row ">
        <p class="new">Bobby Smith</p>
        <h2>Weekly New York Times</h2>
        <p>Here's a sample of what new articles we have for this week</p>
    </div>

  </div>
  </td>

</div>

</span>
